

b {
  font-family: InnerRegular, serif;
  font-weight: 700;
  font-size: 20px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-80 {
  padding-bottom: 80px;
}
.nowrap {
  white-space: nowrap;
}
@media screen and (max-width: 1400px) {
  .nowrap {
    white-space: normal;
  }
}

.product {
  padding: 0;
  margin: 20px auto 0;
}
@media screen and (max-width: 1600px) {
  .product {
    margin: 20px 80px 0;
  }
}
@media screen and (max-width: 1000px) {
  .product {
    margin: 20px 20px 0;
  }
}

.product_container {
  display: flex;
  padding: 0;
  background: #F1F1F1;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .product_container {
    flex-direction: column;
    align-items: center;
  }
}

.product_container-fanera {
  flex-direction: column;
}
.product_container-fanera-top {
  display: flex;
}
.product_container-fanera-top_text {
  padding: 45px;
}
@media screen and (max-width: 1000px) {
  .product_container-fanera-top_text {
    padding: 20px;
  }
}

.product_content {
  padding: 45px 45px 200px;
}
@media screen and (max-width: 1000px) {
  .product_content {
    padding: 20px 20px 200px;
  }
}

.catalog_list-item {
  min-width: 312px;
  max-width: 312px;
  height: fit-content;
}
.catalog_list-item:hover .catalog_list-item_hover {
  top: 20px;
  padding: 20px;
  align-items: normal;
}

.product_text {
  font-family: InnerRegular, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.product_text-big {
  font-family: InnerRegular, serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
}
.product_blocks {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.product_blocks-fanera {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
@media screen and (max-width: 768px) {
  .product_blocks-fanera {
    flex-direction: column;
  }
}


.product_block_text_img {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .product_block_text_img {
    flex-direction: column;
  }
}

.product_block_border {
  padding: 30px;
  border: 1px solid #000000;
}
@media screen and (max-width: 1000px) {
  .product_block_border {
    text-align: center;
  }
}
.product_block_border_head {
  margin-bottom: 20px;
}

.product_block_border_blocks {
  display: flex;
  gap: 20px;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .product_block_border_blocks {
    flex-direction: column;
  }
}

.product_block_border_imgs {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.product_block_border_block {
  position: relative;
}
.product_block_border_text {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
}

.product_blocks_imgs_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product_blocks_imgs {
  display: flex;
  gap: 10px;
  margin-bottom: 28px;
}
.product_block_border_img {
  width: 150px;
  height: 150px;
}

.product_blocks_text {
  font-family: HeliosExt, serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
}

.product_blocks_img {
  width: fit-content;
}

.product_buy {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 35px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  background: #FFD43A;
  display: flex;
  gap: 20px;
  align-items: center;
}
.product_buy-img {
  width: 50px;
  height: 50px;
}
