* {
  font-family: HeliosExt, serif;
}

html {
  scroll-behavior: smooth
}

.section, main, header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 80px 0;
}
@media screen and (max-width: 1000px) {
    .section, main, header {
        padding: 20px 20px 0;
    }
}

header {
  padding-top: 98px;
  padding-bottom: 98px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 1000px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header_logos {
  display: flex;
  gap: 10px;
}
.header_logos_logo {
  height: 63px;
}
@media screen and (max-width: 555px) {
  .header_logos_logo {
    height: 40px;
  }
}


.header_nav {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
@media screen and (max-width: 1400px) {
  .header_nav {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .header_nav {
    display: none;
  }
}

.header_nav_link {
  font-weight: 700;
  font-size: 20px;
  padding: 0 10px 10px;
  height: fit-content;
  text-transform: uppercase;
  white-space: nowrap;
}

.header_numbers {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
@media screen and (max-width: 1000px) {
  .header_numbers {
    display: none;
  }
}

.header_numbers__phone {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}
@media screen and (max-width: 1100px) {
  .header_numbers__phone {
    white-space: normal;
  }
}

/* Гамбургер иконка */
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index:2;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 10px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 10px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 65px 0;
  background: #ffffff;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 1;
}

.menu.active {
  transform: translateX(0);
}

.menu li {
  list-style-type: none;
}

.header_nav_mobile {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .header_nav_mobile {
    display: none;
  }
}
.header_numbers_mobile {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .header_numbers_mobile {
    display: none;
  }
}
