.main_head {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 88px;
}
@media screen and (max-width: 1000px) {
  .main_head {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
  }
}

.main_head-h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
}
@media screen and (max-width: 1400px) {
  .main_head-h1 {
    font-size: 40px;
  }
}

.button_link {
  color: #ffffff;
}

.o-nas {
  display: flex;
  justify-content: space-between;
  padding-top: 300px;
}
@media screen and (max-width: 1000px) {
  .o-nas {
    padding-top: 80px;
  }
}

.o-nas_block {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 300px;
}
.o-nas_block_title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
}
@media screen and (max-width: 1000px) {
  .o-nas_block_title {
    font-size: 40px;
  }
}

.o-nas_block_subtitle {
  font-family: 'InnerRegular', serif;
  font-weight: 400;
  font-size: 30px;
}
@media screen and (max-width: 1000px) {
  .o-nas_block_subtitle {
    font-size: 20px;
  }
}

.o-nas_info {
  display: flex;
  gap: 30px;
  padding-top: 200px;
}
@media screen and (max-width: 1000px) {
  .o-nas_info {
    padding-top: 80px;
  }
}

.o-nas_info_video {
  min-width: 60%;
  min-height: 400px;
}
.o-nas_info_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
}
.o-nas_info_block_subtitle {
  font-family: 'InnerRegular', serif;
  font-weight: 400;
  font-size: 30px;
}
@media screen and (max-width: 1000px) {
  .o-nas_info_block_subtitle {
    font-size: 20px;
  }
}

.o-nas_info_block_subtitle_img {
  width: 50px;
}
.o-nas_info_block_subtitle_second {
  font-family: 'InnerRegular', serif;
  font-weight: 400;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.catalog {
  padding-top: 320px;
}
@media screen and (max-width: 1000px) {
  .catalog {
    padding-top: 80px;
  }
}

.catalog_head {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  padding-bottom: 104px;
}
@media screen and (max-width: 1000px) {
  .catalog_head {
    font-size: 40px;
    padding-bottom: 40px;
  }
}

.catalog_list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .catalog_list {
    gap: 40px;
    flex-wrap: wrap;
  }
}

.catalog_list-item {
  position: relative;
  width: 312px;
}
@media screen and (max-width: 1000px) {
  .catalog_list-item {
    width: calc(50% - 40px);
  }
}

.catalog_list-item:hover .catalog_list-item_img {
  filter: brightness(50%);
}
.catalog_list-item_img {
  width: 100%;
}
.catalog_list-item_hover {
  display: none;
}
.catalog_list-item:hover .catalog_list-item_hover {
  display: flex;
  position: absolute;
  bottom: 84px;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
}
.catalog_list-item_hover_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}
.catalog_list-item_text {
  background: #FFD43A;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  padding: 24px;
  text-align: center;
}

.zayavka {
  margin-top: 200px;
  padding: 60px 80px;
  border: 15px solid #3E3E3E;
}
@media screen and (max-width: 1000px) {
  .zayavka {
    margin-top: 80px;
    padding: 40px 60px;
  }
}

.zayavka_head {
  display: flex;
  justify-content: space-between;
}
.zayavka_head_title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
}
@media screen and (max-width: 1000px) {
  .zayavka_head_title {
    font-size: 40px;
  }
}


.zayavka_form {
  display: grid;
  gap: 46px;

  grid-template-areas: 'name btn'
    'phone btn'
    'time btn';
  grid-template-columns: 65% 31%;
}
.zayavka_form-input {
  border-bottom: 2px solid #B0B0B0;
  font-family: InnerRegular, serif;
  width: 100%;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;;
}
.zayavka_form-input::placeholder {
  color: #B0B0B0;
}
.zayavka_form-input-name {
  grid-area: name;
}
.zayavka_form-input-phone {
  grid-area: phone;
}
.zayavka_form-input-time {
  grid-area: time;
}
.zayavka_form-btn {
  grid-area: btn;
  margin-top: auto;
  height: 88px;
}

