.slider__items {
  counter-reset: slide;
}

.slider__item {
  height: 320px;
  counter-increment: slide;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .slider__item {
    height: 250px;
  }
}
.slider__item-img {
  width: 100%;
  height: inherit;
  filter: brightness(80%);
}
.slider__item-text {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  max-width: 850px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 50px;
}
@media screen and (max-width: 1000px) {
  .slider__item-text {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .slider__item-text {
    font-size: 20px;
    max-width: 80%;
  }
}

.slider__control_prev::before {
  background-image:url('../img/arrow-left.png');
  filter: invert(1);
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .slider__control_prev::before {
    display: none;
  }
}

.slider__control_next::before {
  background-image:url('../img/arrow-right.png');
  filter: invert(1);
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .slider__control_next::before {
    display: none;
  }
}
